@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300&family=Poppins:wght@200;300;400&family=Voltaire&display=swap');

/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Voltaire', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none !important;
    transition: all .2s linear;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #ffff;
    --violet: #e02c6d;
    --black: #1a202c;
    --red: #c53030;
    --primary-light: #fff2f1;
    --separator: #e6e8eb;
}

*::selection {
    color: #fff;
    background-color: #000;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*----------------------
 header section start 
------------------------*/
header {
    background-image: url('./images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: 100% 0;
    min-height: 100vh;
    padding: 5rem 9%;
}

header .header-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header svg {
    height: 5rem;
    width: 5rem;
    border: .2rem solid #212832;
    border-radius: .5rem;
    padding: .5rem;
    font-weight: bold;
    display: none;
}


header .header-nav .nav a {
    color: #212832;
    font-size: 1.7rem;
    padding: 0 2rem;
}


header .header-nav .nav a:hover {
    color: var(--violet);
}

header .header-nav .nav .btn-active {
    color: var(--violet);
}

@media(max-width:992px) {
    html{
        font-size: 58%;
    }
    header {
        padding: 3rem 2%;
    }
}

@media (max-width:768px) {
    html{
        font-size: 55%;
    }
    header .nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .header-nav .nav a {
        display: block;
        padding: 1rem 0rem;
        background: #212832;
        color: white;
        text-align: center;
        border-bottom: 2px solid var(--violet);
    }

    header svg {
        display: block;
    }
}