@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300&family=Poppins:wght@200;300;400&family=Voltaire&display=swap');

/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Voltaire', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none !important;
    transition: all .2s linear;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #ffff;
    --violet: #e02c6d;
    --black: #1a202c;
    --red: #c53030;
    --primary-light: #fff2f1;
    --separator: #e6e8eb;
}

*::selection {
    color: #fff;
    background-color: #000;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*----------------------
 header section start 
------------------------*/
header {
    background-image: url('./images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: 100% 0;
    min-height: 100vh;
    padding: 5rem 9%;
}

header .header-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header svg {
    height: 5rem;
    width: 5rem;
    border: .2rem solid #212832;
    border-radius: .5rem;
    padding: .5rem;
    font-weight: bold;
    display: none;
}


header .header-nav .nav a {
    color: #212832;
    font-size: 1.7rem;
    padding: 1rem 2rem;
}


header .header-nav .nav a:hover {
    color: var(--violet);
}

header .header-nav .nav .btn-active {
    color: var(--violet);
    border-bottom: 3px solid var(--violet);
}

/* --------------------------
hero section start
---------------------------- */

.hero-warper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.hero-warper .hero-content p {
    color: #DF6951;
    font-size: 2rem;
    font-weight: 700;
}

.hero-warper .hero-content h1 {
    color: #181E4B;
    font-size: 7.4rem;
    font-family: 'Voltaire', sans-serif;
    font-weight: 700;
    padding: 2.4rem 0;
    margin: 0;
}

.hero-warper .hero-content h6 {
    color: #5E6282;
    font-size: 1.6rem;
    margin-bottom: 3rem;
    font-weight: 500;
}

.hero-warper .hero-content .hero-content-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-warper .hero-content .find-btn {
    background-color: #F1A501;
    padding: 2rem 3rem;
    color: white;
    font-size: 1.8rem;
    border-radius: 1rem;
}

.hero-warper .hero-content .play-btn {
    display: flex;
    align-items: center;
}

.hero-warper .hero-content .play-btn-icon {
    background-color: #DF6951;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.hero-warper .hero-content .play-now-btn {
    font-size: 1.7rem;
    color: #686D77;
    font-weight: 500;
    background: none;
}

.hero-warper .hero-img img {
    width: 90%;
    float: right;
}








/* --------------------------
@ media quarry responsive
---------------------------- */


@media(max-width:992px) {
    html {
        font-size: 58%;
    }

    header {
        padding: 3rem 2%;
    }

    .hero-warper .hero-content h1 {
        font-size: 5.4rem;
    }
    .hero-warper .hero-content h1 {
        padding: .5rem 0;
    }
}




@media (max-width:768px) {
    header {
        padding: 3rem 2%;
    }
    html {
        font-size: 55%;
    }

    header .nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .header-nav .nav a {
        display: block;
        padding: 1rem 0rem;
        background: #212832;
        color: white;
        text-align: center;
        border-bottom: 2px solid var(--violet);
    }

    header svg {
        display: block;
    }

    .hero-warper .hero-img img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none;
    }
    .hero-warper {
        flex-wrap: wrap;
    }
}